@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Remove default marker styles */

.robo {
  font-family: var(--robo);
}

nav.scaledown {
  width: 4vw;
  transition: width 0.2s linear;
}

@media screen and (max-width: 800px) {
  nav.scaledown {
    width: 0vw;
    transition: width 0.2s linear;
  }
}

nav {
  transition: width 0.2s linear;
}

.tabler tr td {
  padding: 24px;
}

.tabler thead tr th {
  padding: 24px;
}

.upload-wrapper .uploadzone .success {
  display: none;
}

.upload-wrapper:hover .uploadzone {
  border: 2px dashed #1abc9c;
}

.upload-wrapper input[type="file"]:valid + .uploadzone {
  border-color: #1abc9c;
}

.upload-wrapper input[type="file"]:valid + .uploadzone .success {
  display: inline-block;
}

.upload-wrapper input[type="file"]:valid + .uploadzone .default {
  display: none;
}

input[type="radio"]:checked ~ label {
  background-color: #0d9488;
  color: white;
}

.logbg {
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #9ffff6, #139d8f);
}

.anchor {
  anchor-name: --dropdown;
}

.positionedElement {
  position: absolute;
  z-index: 9;
  position-anchor: --dropdown;
  top: calc(anchor(bottom) - 60px);
  right: anchor(left);
  justify-self: anchor-left;
  /* bottom: anchor(bottom); */
}

.occupants {
  position: relative;
  margin-right: 2rem;
}

.occupants::after {
  position: absolute;
  top: 0;
  left: 5.5rem;
  content: "↓";
  font-size: 18px;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(farthest-side, #139d8f 94%, #0000);
  background:
    var(--_g) 0 0,
    var(--_g) 100% 0,
    var(--_g) 100% 100%,
    var(--_g) 0 100%;
  background-size: 40% 40%;
  animation: l38 0.5s infinite;
}
@keyframes l38 {
  100% {
    background-position:
      100% 0,
      100% 100%,
      0 100%,
      0 0;
  }
}
