.inputwrapper {
  display: flex;
  flex-flow: column nowrap;
  /* gap: 8px; */
  position: relative;
  width: 100%;
}

.inputwrapper input {
  padding: 12px 14px;
  border-radius: 16px !important;
  /* background-color: #f9f9f9; */
  width: 100%;
}

/* input[placeholder] {
  color: #7b7b7b;
} */

.inputwrapper label {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  color: #7b7b7b;
}

.inputwrapper input:focus {
  border: none;
  outline: none;
}

.inputwrapper input:focus + label {
  top: -1.4rem;
  transition: top 0.3s ease-out;
  font-size: 14px;
  /* mix-blend-mode: screen; */
  /* color: rgba(255, 255, 255, 0.7) !important; */
}

.inputwrapper input:not(:focus) + label {
  color: #7b7b7b;
}

.inputwrapper,
input:focus,
input:not(:placeholder-shown) + label {
  top: -1.4rem;
  font-size: 14px;
}

/* .inputbox.error {
  border: 1px solid red;
  outline: none;
} */

.error-message {
  color: red;
  font-size: 14px;
}
